.paragrafo {
    color: #ff0000;
    
}

.link:hover  {
    color: #dbf021;
    
}
    

.link {
    text-decoration: none;
    text-transform: uppercase; 
}   

.paragrafo2{
    margin-top:60px;
}

.background{
    
    padding:30px 20px;
    background-color:#ff0000;
}

.paragrafo3{
    color:#ffffff;
    font-weight: 300;
}

.contenitore{
    margin-bottom: 40px;
}